* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: 'Roboto', sans-serif;
display: flex;
height: 100vh;
  /*background-color: #f9f2f2;*/
}


#navbar {
  height: 100vh;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  color: green;
}

#title {
  padding: 10px;
  background-color: green;
  color: white;
  margin-bottom: 2px;
}

#navbar ul {
  list-style: none;
  margin-left: 10px;
}

.nav-link{
  text-decoration: none;
  display: block;
  padding: 8px;
  color: green;
}

.nav-link:hover {
  background-color: green;
  color: white;
}

#toggle {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 3.05rem;
    color: white;
    background-color: green;
    border: none;
    padding: 0 5px 0 5px;
  }

  .is-open {
    display: flex !important;
    flex-direction: column;
  }

  .v-width {
    display: flex;
  }

#main-doc {
  height: 100vh;
  overflow-y: scroll;
  padding: 0 0.8rem;
}

.main-section {

}

.main-section article {
  padding-left: 20px;
  padding-top: 10px;
}

article ul {
  margin-left: 40px;
}

.section-header {
  background-color: green;
  color: white;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.javascript {
  background-color: #313131;
  border-radius: 10px;
  color: #ccc;
}

.hljs-string, .hljs-subst{
  color: #7ec699;
}

.hljs-keyword {
  color: #cc99cd;
}

.hljs-number {
  color: #f08d49;
}

.hljs-built_in {
  color: #f08d49;
}

.codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%;
}

.terminalspan {
  display: block;
  color: #fff;
  background-color: #000;
  padding: 2px;
  border-left: 3px solid green;
  font-weight: bold;
}


@media only screen and (max-width: 500px) {
  body {
    display: grid;
  }

  #navbar {
    min-height: 400px;
  }

  #toggle {
    position: fixed;
    top: 0px;
    display: flex;
  }

  #navbar {
    display: none;
  }

}
